---
export interface Props {
	title: string;
	img: string;
}

const { title, img } = Astro.props;
---

<li class="card w-full flex items-center p-4">
	<img class="w-12 mr-4" src={img} alt="feature"/>
	<h2>
		{title}
	</h2>
</li>
<style>
	.card {
		background: rgba(255,255,255,0.03);
		backdrop-filter: blur(66px);
		list-style: none;
		border-radius: 24px;
		border: 1px solid rgba(255,255,255,0.1);
	}
</style>
