---
import { twMerge } from 'tailwind-merge'
export interface Props {
    id: string;
    className: string[]
    color: string
}

const { id, className, color } = Astro.props;
---

<a href="https://docs.arkehub.com/docs" target="_blank">
    <button id={id} class={twMerge("btn-circle z-10 w-28 h-28 lg:w-40 lg:h-40", `btn-circle-${color}`, className)}>
        Start now
    </button>
</a>

<style>
    .btn-circle {
        transform: translate(-50%, 0%);
        border-radius: 100px;
        background-color: rgba(255, 255, 255, 0.1);
        color: #fff;
        border: 1px solid rgba(255,255,255,0.1);
        backdrop-filter: blur(33px);
        text-transform: uppercase;
        position: absolute;
        transition: background-color 1.2s ease-out 100ms;
    }

    .btn-circle:hover {
        transition: background-color 1.2s ease-out 100ms;
        color: #000;
    }

    .btn-circle-green:hover {
        background-color: #a7fbd7;
    }

    .btn-circle-rose:hover {
        background-color: #EFAEFF;
    }
</style>
