---
import {twMerge} from "tailwind-merge";
export interface Props {
	title: string;
	img: string;
	className: string;
}

const { title, img, className, align = 'left' } = Astro.props;
---

<li class={twMerge("w-full flex items-center flex-col px-4 py-2", className)}>
	<img class="w-16 mr-4" src={img} alt="feature"/>
	<div>
		<h2 class="font-semibold text-xl">
			{title}
		</h2>
		<p class="mt-1 text-secondary">
			<slot />
		</p>
	</div>
</li>
<style>
</style>
