---
import Layout from '../layouts/Layout.astro';
import GradientBackground from "../components/ui/GradientBackground.astro";
import Cursors from "../components/developers/Cursors/Cursors.astro";
---

<Layout>
	<GradientBackground />
	<Cursors />

	<h1 class="title text-4xl md:text-5xl lg:text-7xl text-center font-medium mt-40">
		The <span>collaborative</span> framework to<br/> shape your future
	<h2 class="px-12 text-sm lg:text-2xl mt-12 text-secondary">
		Boost your productivity and develop quality code with a<br/> dynamic community you can rely on.
	</h2>

	<div class="h-screen">

	</div>
</Layout>

<style>
	.title > span {
		background: linear-gradient(90deg, #78E7C5, #9DFFAD);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
</style>
