---
import Layout from '../layouts/Layout.astro';
import GradientBackground from "../components/ui/GradientBackground.astro";
import StartNowButton from '../components/home/StartNowButton/StartNowButton.astro';
import DeveloperIntroBackground from '../components/developer/developerIntroBackground/DeveloperIntroBackground.astro';

const programmingIcons = [
    {title: 'Elixir icon', img: '/developer/icons/elixir.svg'}, 
    {title: 'JS icon', img: '/developer/icons/JS.svg'}, 
    {title: 'React icon', img: '/developer/icons/react.svg'}, 
    {title: 'Phyton icon' , img: '/developer/icons/phyton.svg'},
    {title: 'Docker icon' , img: '/developer/icons/docker.svg'}, 
    {title: 'Aws icon', img:'/developer/icons/aws.svg'}, 
    {title: 'Gcp icon', img: '/developer/icons/cloud.svg'},
    {title: 'Azure icon', img: '/developer/icons/azure.svg'},  
    {title: 'Next-js icon', img:'/developer/icons/next-js.svg'}
]
---

<Layout>
	<GradientBackground />
    <DeveloperIntroBackground />
    <h1 class="title text-4xl md:text-5xl lg:text-7xl text-center font-medium mt-40">
		The <span>collaborative</span> framework to <br/>
		shape your future</h1>
        <h2 class="px-12 text-sm lg:text-2xl mt-12 text-secondary">
            Boost your productivity and develop quality code with a<br/>
            dynamic community you can rely on
        </h2>
        <br/>
        <br/>
        <StartNowButton color="green"/>
        <div class="mt-80">
            <h3 class="text-3xl md:text-4xl lg:text-5xl font-semibold h-24 flex flex-col sm:flex-row justify-center items-center"><div class="flex items-center">Choose <img src="./logos/logo_with_border.svg" class="mx-3 h-8 md:h-10 lg:h-12"> </div>to deliver quality code</h3>
            <h2 class="px-12 text-sm lg:text-2xl mt-12 text-secondary">
                The open-source Agile framework that automates repetitive tasks,<br/>
                allowing you to focus on creating high-impact, valuable code. 
            </h2>
            <div class="flex justify-center mt-5">
                {programmingIcons.map(icon =><div class="p-5 border-l border-l-white flex justify-center items-center"><img src={icon.img} alt={icon.title} class="h-14 w-14"/></div>)}
            </div> 
        </div>
</Layout>

<style>
.title > span {
    color: #78E7C5
}

.icon-box {
    padding: 5px;
}
</style>
