---


---

<div class="flex flex-col p-4 bg-black drop-shadow-md border border-secondary">
    <div class="rounded-md flex input-background py-2">
        <div class="w-2/12 flex justify-center">
            <img src="/contact/user.svg" alt={'phone icon'}/>
        </div>
        <input type="text" name="username" id="username" placeholder="Username" class="w-10/12 rounded input-background outline-none"/>
    </div>
    <div class="rounded-md flex input-background py-2 mt-4">
        <div class="w-2/12 flex justify-center">
            <img src="/contact/phone.svg" alt={'phone icon'}/>
        </div>
        <input type="number" name="phone" id="phone" placeholder="Phone number" class="w-10/12 rounded input-background outline-none"/>
    </div>
    <div class="rounded-md flex input-background py-2 mt-4">
        <div class="w-2/12 flex justify-center">
            <img src="/contact/email.svg" alt={'phone icon'}/>
        </div>
        <input type="email" name="email" id="email" placeholder="Email address" class="w-10/12 rounded input-background outline-none"/>
    </div>
    <div class="rounded-md flex input-background py-2 mt-4">
        <div class="w-2/12 flex justify-center">
            <img src="/contact/building.svg" alt={'phone icon'}/>
        </div>
    <input type="text" name="company" id="company" placeholder="Company name" class="w-10/12 rounded input-background outline-none"/>
    </div>
</div>

<style>
    .input-background {
        background-color: #1b1b20;
    }
</style>