---
import CircleButton from '../../components/ui/CircleButton.astro';

---

<form class="flex flex-col p-4 mb-20 form-background rounded-3xl relative">
    <div class="rounded-md flex input-background">
        <div class="w-2/12 flex justify-center py-2">
            <img src="/contact/user.svg" alt={'user icon'}/>
        </div>
        <input type="text" name="username" id="username" placeholder="Username" class="w-10/12 p-2 rounded input-background outline-none"/>
    </div>
    <div class="rounded-md flex input-background mt-4">
        <div class="w-2/12 flex justify-center py-2">
            <img src="/contact/phone.svg" alt={'phone icon'} class="h-7"/>
        </div>
        <input type="number" name="phone" id="phone" placeholder="Phone number" class="w-10/12  p-2 rounded input-background outline-none"/>
    </div>
    <div class="rounded-md flex input-background mt-4">
        <div class="w-2/12 flex justify-center py-2">
            <img src="/contact/email.svg" alt={'email icon'} class="h-7"/>
        </div>
        <input type="email" name="email" id="email" placeholder="Email address" class="w-10/12 p-2 rounded input-background outline-none"/>
    </div>
    <div class="rounded-md flex input-background mt-4">
        <div class="w-2/12 flex justify-center py-2">
            <img src="/contact/building.svg" alt={'building icon'} class="h-7"/>
        </div>
    <input type="text" name="company" id="company" placeholder="Company name" class="w-10/12 p-2 rounded input-background outline-none"/>
    </div>
    <div class="rounded-md flex input-background mt-4 h-48">
        <div class="w-2/12 flex justify-center pt-2">
            <img src="/contact/message.svg" alt={'message icon'} class="h-7"/>
        </div>
    <textarea placeholder="Message*" rows={4} class='input-background w-10/12 outline-none p-2 mb-12 lg:mb-16 mr-2 mt-2'/>
    </div>
    <div class="absolute w-full h-fit -bottom-14 lg:-bottom-20 flex justify-center">
    <CircleButton className={"bg-[url('/illustrations/Ellipse2.png')] btn-background border-none"} color={''}>Send message</CircleButton>
</div>
</form>

<style>
    .input-background {
    background-color: #1d1e25;
  }

    .btn-background {
    background-repeat: no-repeat;
    background-size: 100%;

  }

  input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

  input[type=number] {
  -moz-appearance: textfield;
}

.form-background {
    background: #0a0b12;
    filter: drop-shadow(0px 0px 70px rgba(255,195,192,0.02)) drop-shadow(0px 0px 70px rgba(120,151,231,0.12)) drop-shadow(0px 0px 90px rgba(120,231,197, 0.12));
}
</style>