---
import Navbar from "./Navbar.astro";
import Footer from "./Footer.astro";
import 'animate.css';
export interface Props {
	title: string;
	description: string;
	footer?: boolean;
}

const { title, description, footer= true } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" class="animated fadeIn">
	<head>
		<!-- Google Tag Manager -->
		<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
			new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
			j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
			'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
			})(window,document,'script','dataLayer','GTM-WC94GBC');</script>
		<!-- End Google Tag Manager -->
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href=`${import.meta.env.BASE_URL}/favicon.svg` />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<!-- Google Tag Manager (noscript) -->
		<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WC94GBC"
						  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
		<!-- End Google Tag Manager (noscript) -->
		<div class="relative overflow-clip -mt-2">
		<Navbar />
			<main>
				<slot />
			</main>
		</div>
		{footer && <Footer />}
	</body>
</html>
<style is:global>
	:root {
		--accent: 124, 58, 237;
		--accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #da62c4 30%, white 60%);
		color: #fff
	}
	@font-face {
		font-family: 'GeneralSans';
		src: url('../fonts/GeneralSans-Variable.ttf') format('truetype')
	}

	html {
		font-family: GeneralSans, sans-serif;
		background: #0A0B12;
	}
	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	}
	main {
		margin: auto;
		margin-top: 60px;
		text-align: center;
	}
</style>
