---
import Button from "../components/ui/Button.astro";
import Card from "../components/ui/Card.astro";
import NavbarMenu from "./NavbarMenu.astro";
export interface Props {
}

const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1); // remove the first "/"
---

<script>
	const button = document.getElementById('menuBtn');
	const menu = document.getElementById('menu');

	button.addEventListener('click', () => {
		setTimeout(() => {
			menu.classList.remove("hidden");
			menu.classList.add("flex");
		},10)

	});

	document.addEventListener('click', event => {
		const isClickInside = menu.contains(event.target)
		if (!isClickInside) {
			menu.classList.remove("flex");
			menu.classList.add("hidden");
		}

	})

</script>

<nav class="rounded-xl sm:rounded-3xl top-4 md:top-8 my-2 mx-4 sm:mx-2 md:mx-12 md:my-2 px-2 sm:px-4 py-2 sm:py-3">
	<div class="flex items-center flex-auto">
		<a class={currentPath === "" ? "active" : ""} href={`${import.meta.env.BASE_URL}`}>
			<img src={`${import.meta.env.BASE_URL}logos/arke_logo.svg`} class="w-20 md:w-28 ml-2" alt="arke_logo" />
		</a>
		<span class="vl mx-4 lg:mx-6" />
		<div class="menu hidden lg:flex justify-between">
			<NavbarMenu />
		</div>
		<div class="lg:hidden">
			<Button id="menuBtn" icon={`${import.meta.env.BASE_URL}icons/menu.svg`}/>
		</div>
	</div>
	<div class="flex" style="gap: 12px">
		<!--<Button icon="/icons/star.svg" title="Star" count="213"/>-->
		<a href="https://github.com/arkemishub" target="_blank">
			<Button icon={`${import.meta.env.BASE_URL}icons/github.svg`} title="Join us"/>
		</a>
	</div>
</nav>

<Card id="menu"
	  className="hidden z-50 flex-col p-6 fixed top-20 sm:top-32"
	  style="line-height: 60px;width: 80%;margin-left: 10%;background: rgba(255, 255, 255, 0.03);backdrop-filter: blur(33px)">
	<NavbarMenu />
</Card>

<style>
	nav {
		z-index: 9999;
		display: flex;
		position: sticky;
		background: rgba(255,255,255,0.03);
		backdrop-filter: blur(33px);
		border: 1px solid rgba(255,255,255,0.1);
		color: #797D94;
	}

	nav a:hover {
		transition: 0.6s ease-out 100ms;
		cursor: pointer;
		color: #ffffff;
	}

	.active {
		color: #ffffff;
	}

	.vl{
		border-left: 1px solid rgba(255, 255, 255, 0.12);
		height: 32px;
	}

	.menu {
		gap: 32px
	}
</style>