---
import Button from "../components/ui/Button.astro";
export interface Props {
}

const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1); // remove the first "/"
console.log(currentPath)
---

<nav class="md:top-8 mx-2 my-2 md:mx-12 md:my-2">
	<div class="flex items-center flex-auto">
		<a class={currentPath === "" ? "active" : ""} href="/">
			<img src="/logos/arke_logo.png" class="w-20 md:w-28" alt="arke_logo" />
		</a>
		<span class="vl mx-4 lg:mx-6" />
		<div class="menu hidden lg:flex justify-between">
			<a class={currentPath === "features" ? "active" : ""} href="/features">Features</a>
			<a class={currentPath === "enterprise" ? "active" : ""} href="/enterprise">Enterprise</a>
			<a class={currentPath === "developer" ? "active" : ""} href="/developer">Developer</a>
			<a href="https://arkemishub.github.io/docs" target="_blank">Documentation</a>
			<a href="https://www.mokkastudios.com" target="_blank">Company</a>
		</div>
	</div>
	<div class="flex" style="gap: 12px">
		<Button icon="/icons/star.svg" title="Star" count="213"/>
		<Button icon="/icons/github.svg" title="Join us"/>
	</div>
</nav>

<style>
	nav {
		z-index: 9999;
		display: flex;
		position: sticky;
		background: rgba(255,255,255,0.03);
		backdrop-filter: blur(33px);
		border: 1px solid rgba(255,255,255,0.1);
		border-radius: 24px;
		padding: 12px 32px;
		color: #797D94;
	}

	nav a:hover {
		transition: 0.6s ease-out 100ms;
		cursor: pointer;
		color: #ffffff;
	}

	.active {
		color: #ffffff;
	}

	.vl{
		border-left: 1px solid rgba(255, 255, 255, 0.12);
		height: 32px;
	}

	.menu {
		gap: 32px
	}
</style>