---
import Button from "../components/ui/Button.astro";
import Card from "../components/ui/Card.astro";
export interface Props {
}

const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1); // remove the first "/"
---

<a class={currentPath === "features" ? "active" : ""} href={`${import.meta.env.BASE_URL}features`}>Features</a>
{/*<a class={currentPath === "enterprise" ? "active" : ""} href={`${import.meta.env.BASE_URL}enterprise`}>Enterprise</a>*/}
<a class={currentPath === "developer" ? "active" : ""} href={`${import.meta.env.BASE_URL}developer`}>Developer</a>
<a href="https://docs.arkehub.com/docs" target="_blank">Documentation</a>
<a href={`${import.meta.env.BASE_URL}contact`}>Contact</a>

<style>
    a:hover {
        transition: 0.6s ease-out 100ms;
        cursor: pointer;
        color: #78E7B0;
    }

    .active {
        color: #ffffff;
    }
</style>
