---
export interface Props {
    icon: Node;
    title: string;
    count: number;
}

const { icon, title,count } = Astro.props;
---

<button class="flex items-center px-2 md:px-4 md:py-3">
    {icon && <img src={icon} class="w-3 md:w-5 mr-3" alt="icon" />}
	<span>{title.toUpperCase()}</span>
	{count &&
        <>
            <span class="vl mx-2"/>
            <span class="text-xs">{count}</span>
        </>
    }
</button>
<style>
	button {
		background: rgba(255,255,255,0.08);
		border: 1px solid rgba(255,255,255,0.1);
		border-radius: 12px;
		color: #fff;
        transition: background-color 0.2s ease-out 100ms
	}

    button:hover {
        background: rgba(255,255,255,0.3);
    }

    button > span {
        @apply text-sm
    }

    .vl{
        border-left: 1px solid #fff;
        height: 16px;
    }
</style>
