---
import { twMerge } from 'tailwind-merge'
export interface Props {
    id?: string
    className: string[]
}

const { id, className, style } = Astro.props;
---

<div id={id} class={twMerge("card rounded-2xl w-full", className)} style={style}>
    <slot />
</div>

<style>
    .card {
        background: linear-gradient(179.86deg, rgba(255, 255, 255, 0.03) 0.12%, rgba(255, 255, 255, 0) 93.36%);
        backdrop-filter: blur(15px);
        list-style: none;
        border: 1px solid rgba(255,255,255,0.1);
    }
</style>
