---
import { twMerge } from 'tailwind-merge'
export interface Props {
    className: string[]
}

const { className } = Astro.props;
---

<div class={twMerge("card w-full", className)}>
    <slot />
</div>

<style>
    .card {
        background: linear-gradient(179.86deg, rgba(255, 255, 255, 0.03) 0.12%, rgba(255, 255, 255, 0) 93.36%);
        backdrop-filter: blur(15px);
        list-style: none;
        border-radius: 24px;
        border: 1px solid rgba(255,255,255,0.1);
    }
</style>
